
#body{
  /*font:normal 1em/1.45em "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  -webkit-font-smoothing: antialiased;
  color:#fff;
  background: radial-gradient(ellipse at bottom, #1C2837 0%, #050608 100%);
  background-attachment:fixed;
}

h1 {
  font-weight:300;
  font-size:2.5em;
  text-transform:uppercase;
  font-family: 'Lato', sans-serif;
  line-height:1.6em;
  letter-spacing:.1em;
  text-align: center;
  padding: 30px 0 20px 0;
}

section {
  font-size: .9em;
  text-align: center;
  max-width: 62em;
  margin: 0 auto;
}

#info {
  margin: 2em 0 0 40em;
  z-index: 1;
}

@media only screen and (min-width: 32em) {
  p {
    line-height: 1.75em;
    margin-bottom: 1.75em; /* match the line height */
    /* grow the font-size with the available width, 1.5em is the maximum font size */
  }
}

.myBtn {
    position: relative;
    background:#fff;
    color: #f39c12;
    font-size: .9em;
    border: none;
    padding: 5px;
    margin: auto;
    width: 125px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
  }
.myBtn:hover {
   background-color: #f39c12;
   box-shadow:0px 2px 10px 5px #97B1BF;
   color:#fff;
}
.myBtn:after {
    content: "";
    background: #f1c40f;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

#planets .sun {
  transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  float: left;
  margin-left: -300px;
  z-index: -1;
}
#planets .mercury {
  transform: scale(0.1, 0.1);
  -ms-transform: scale(0.1, 0.1);
  -webkit-transform: scale(0.1, 0.1);
  margin-left: -310px;
  margin-top: -75px;
  z-index: -1;
}
#planets .venus {
  transform: scale(0.15, 0.15);
  -ms-transform: scale(0.15, 0.15);
  -webkit-transform: scale(0.15, 0.15);
  margin-top: -650px;
  margin-left: 140px;
  z-index: -1;
}
#planets .earth {
  transform: scale(0.175, 0.175);
  -ms-transform: scale(0.175, 0.175);
  -webkit-transform: scale(0.175, 0.175);
  margin-top: -1000px;
  margin-left: 300px;
  z-index: -1;
}
#planets .mars {
  transform: scale(0.15, 0.15);
  -ms-transform: scale(0.15, 0.15);
  -webkit-transform: scale(0.15, 0.15);
  margin-top: -1450px;
  margin-left: 350px;
  z-index: -1;
}
#planets .jupiter {
  transform: scale(0.3, 0.3);
  -ms-transform: scale(0.3, 0.3);
  -webkit-transform: scale(0.3, 0.3);
  margin-top: -1050px;
  margin-left: 600px;
  z-index: -1;
}
#planets .saturn {
  transform: scale(0.3, 0.3);
  -ms-transform: scale(0.3, 0.3);
  -webkit-transform: scale(0.3, 0.3);
  margin-top: -1600px;
  margin-left: 700px;
  z-index: -1;
}
#planets .uranus {
  transform: scale(0.2, 0.2);
  -ms-transform: scale(0.2, 0.2);
  -webkit-transform: scale(0.2, 0.2);
  margin-top: -900px;
  margin-left: 900px;
  z-index: -1;
}
#planets .neptune {
  transform: scale(0.175, 0.175);
  -ms-transform: scale(0.175, 0.175);
  -webkit-transform: scale(0.175, 0.175);
  margin-top: -1400px;
  margin-left: 1050px;
  z-index: -1;
}
